__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env/
.venv/

# Env files
.env

# Keys (sensitive)
keys/
*.pem

# Blockchain data
chain.8000.json
chain.8001.json
chain.8002.json
chain.json

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.tar

tmp_metrics

uploads